body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background-color: rgb(112, 103, 210); /* Cambia el color de fondo*/
}

#contador {
    font-size: 10em;
    color: #ffffff;
}
